####################################
# Ignore all dotfiles / dotfolders
####################################
.*
!.gitignore

####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

####################################
# Virtual environments
####################################
venv/
.env/
.venv/

####################################
# Editor / OS
####################################
.vscode/
.idea/
.DS_Store
Thumbs.db

#########################
